<section class="hero is-fullheight has-text-centered is-grey " id="faucet">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-gapless">
                <div class="column ">  
                    <div class="notification is-success">
                        <button class="delete"></button>
                        <h3 class="is-size-4 has-text-grey-darker has-text-weight-bold">
                        The faucet is still under active development. An announcement will be to the community once complete!</h3>

                    </div> 
                    <div class="block">
                        <h1 class=" title second-title is-size-2 is-uppercase has-text-weight-bold is-spaced">{{site.coin}} Faucet</h1>
                            <p class="subtitle is-5">Free funds from the {{ site.coin }} Blockchain</p> 
                    </div>
                    <div class="block">
                        {% include faucetForm.html %}
                    </div>
                    <div class="block">
                        <p></p>
                    </div>
                    <br>

                    <div class="block">
                        <p class="is-italic is-size-7">
                        </p>
                    </div>
                </div>
            </div>






        </div>
    </div>
</section>
