<!-- FIX-ME Need some form validation prior to user submission
Attempting to use https://validatejs.org/

{% include formValidation.html %}
 -->

<!-- No mobile view of faucet form tablet and up only -->
<div class="container is-hidden-mobile">
  <form id="mainAddressForm" class="form-horizontal" action="/assets/php/main.php"  method="post" novalidate>

  <div class="columns ">
    <div class="column ">
      <div class="field is-grouped  ">
        <div class="control select is-dark ">
          <select name="network" id="network" required>
            <option value="mainnet">Mainnet</option>
            <option value="testnet">TestNet</option>
            <option value="devnet">DevNet</option>
          </select>
        </div>
        <label class="label"> </label>
        <div class="control" >
          <input class="input is-dark" type="number" placeholder="{{ site.coin }} Amount" name="amount" value="" required>
        </div>
        <label class="label"> </label>
        <div class="control is-expanded ">
          <input class="input is-dark" type="text" placeholder="{{ site.coin }} Address" name="address" required>
        </div>
      </div>   
    </div>
  </div>
  <div class="columns">
    <div class="column is-2 is-offset-5">
      <div class="field is-grouped is-centered">
        <div class="control">
          <button class="button is-large is-rounded is-uppercase has-text-weight-bold is-black is-outlined is-inverted" disabled>Submit</button>
        </div>
      </div>
    </div>
  </div>
</form>
</div>

<!-- Mobile only view of faucet form -->
<div class="container is-hidden-tablet is-hidden-desktop is-hidden-widescreen is-hidden-fullhd">
  <form id="mobileAddressForm" class="form-horizontal" action="/assets/php/main.php" method="post" novalidate>

  <div class="columns ">
    <div class="column ">

      <div class="field ">
        <div class="control ">
          <div class="select is-dark">
          <select name="network" id="network" required>
            <option value="mainnet">MainNet</option>
            <option value="testnet">TestNet</option>
            <option value="devnet">DevNet</option>
          </select>
        </div>
      </div>
        </div>
      <div class="field ">
        <div class="control">
          <input class="input is-dark" type="number" placeholder="{{ site.coin }} Amount" name="amount" value="" required>
        </div>
      </div>

      <div class="field ">
        <div class="control  ">
          <input class="input is-dark" type="text" placeholder="{{ site.coin }} Address" name="address">
        </div>
      </div>
    </div>

  <div class="container">
    <div class="columns">
    <div class="column is-6 is-centered-3">
      <div class="field is-grouped is-centered">
        <div class="control is-expanded">
          <button class="button is-large is-rounded is-uppercase has-text-weight-bold is-black is-outlined is-inverted" disabled type="submit" >Submit</button>
        </div>
      </div>
    </div>
    <div class="column">
      <p class="block title has-text-left is-size-7">*Mobile Browser Detected</p>
    </div>
    </div>
  </div>
  </div>
</form>
</div>
<script type="text/javascript">
// Main address form script
 $(document).ready(function(){
   var $form = $('form');
   $form.submit(function(){
      $.post($(this).attr('action'), $(this).serialize(), function(response){
            // do something here on success
      },'json');
      return false;
   });
});</script>