<section class="hero is-fullheight has-text-centered is-grey " id="mainnet-chain">
  <div class="hero-body">
    <div class="container">
      <div class="columns ">
        <div class="column ">

          <div class="columns  is-centered">
            <div class="column is-8 ">
              <h2 class="title is-spaced is-size-3">Mainnet State Files</h2>
              <br>
              <div class="field is-grouped is-grouped-multiline ">
                <div class="control">
                  <div class="tags  has-addons">
                    <span class="tag is-medium is-dark">Mainnet State</span>
                    <span class="tag is-medium is-dark"><a href="https://cdn.qrl.co.in/mainnet/QRL_Mainnet_State.tar.gz"><u>QRL_Mainnet_State.tar.gz</u></a></span>
                    <!-- <span class="tag is-medium is-dark" id="Tar_FileSize"></span> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="columns is-centered">
            <div class="column is-8  ">
              <div class="field is-grouped is-grouped-multiline">
                <div class="control">
                  <div class="tags  has-addons">
                    <span class="tag is-medium is-dark">Mainnet Checksums</span>
                    <span class="tag is-medium is-dark"><a href="https://cdn.qrl.co.in/mainnet/Mainnet_State_Checksums.txt" download><u>Mainnet_State_Checksums.txt</u></a></span>
                  </div>
                </div>
              </div>
              <hr>
              <h3 class="title is-size-4 is-spaced">Chain Checksum Notarization</h3>
              <p class="subtitle is-6">Verification provided by the QRL Notarization system.</p>
              <div class="field is-grouped is-grouped-multiline">
                <div class="control">
                  <div class="tags  has-addons">
                    <span class="tag is-medium is-black">Notarization Tx ID:</span>
                    <span class="tag is-medium is-dark" id="Notarization"></span>
                  </div>
                </div>
                <div class="control">
                  <div class="tags  has-addons">
                    <span class="tag is-medium is-black">Verification Address:</span>
                    <span class="tag is-medium is-dark" id="Address"></span>
                  </div>
                </div>
              </div>
              <p>Check the notarization to verify the copy of the checksum file is identical to the upload. Follow the link below and verify by uploading the <code>Mainnet_State_Checksums.txt</code> file to the QRL Block Explorer to verify authenticity.</p>
            </div>
          </div>
          <div class="columns is-centered is-gapless">
            <div class="column is-8">
              <hr>
              <h2 class="title is-size-3 is-spaced">Snapshot State</h2>
              <p class="subtitle is-6">Data from the snapshot</p> 
              <div class="field">
                <div class="control">
                  <div class="tags  has-addons">
                    <span class="tag is-medium is-black">Blockheight</span>
                    <span class="tag is-medium is-dark" id="blockHeight"></span>
                  </div>
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <div class="tags  has-addons">
                    <span class="tag is-small is-black">blockLastHash</span>
                    <span class="tag is-small is-dark" id="blockLastHash"></span>
                  </div>
                </div>
              </div>
              <div class="field">
                  <div class="control">
                    <div class="tags  has-addons">
                      <span class="tag is-medium is-black">networkId</span>
                      <span class="tag is-medium is-dark" id="networkId"></span>
                    </div>
                  </div>
                </div>
                <div class="field">
                  <div class="control">
                    <div class="tags  has-addons">
                      <span class="tag is-medium is-black">numConnections</span>
                      <span class="tag is-medium is-dark" id="numConnections"></span>
                    </div>
                  </div>
                </div>
                <div class="field">
                  <div class="control">
                    <div class="tags  has-addons">
                      <span class="tag is-medium is-black">numKnownPeers</span>
                      <span class="tag is-medium is-dark" id="numKnownPeers"></span>
                    </div>
                  </div>
                </div>
                <div class="field">
                  <div class="control">
                    <div class="tags  has-addons">
                      <span class="tag is-medium is-black">state</span>
                      <span class="tag is-medium is-dark" id="state"></span>
                    </div>
                  </div>
                </div>
                <div class="field">
                  <div class="control">
                    <div class="tags  has-addons">
                      <span class="tag is-medium is-black">uptime</span>
                      <span class="tag is-medium is-dark" id="uptime"></span>
                    </div>
                  </div>
                </div>
                <div class="field is-grouped is-grouped-multiline">
                  <div class="control">
                    <div class="tags  has-addons">
                      <span class="tag is-medium is-black">version</span>
                      <span class="tag is-medium is-dark" id="version"></span>
                    </div>
                  </div>
                </div>
                <div class="field">  
                  <div class="control">
                    <div class="tags  has-addons">
                      <span class="tag is-medium is-black">Unix_Timestamp</span>
                      <span class="tag is-medium is-dark" id="Unix_Timestamp"></span>
                    </div>
                  </div>
                </div>
                <div class="field">
                  <div class="control">
                    <div class="tags  has-addons">
                      <span class="tag is-medium is-black">Uncompressed_Chain_Size</span>
                      <span class="tag is-medium is-dark" id="Uncompressed_Chain_Size"></span>
                    </div>
                  </div>
                </div>
                <hr>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
        <script>
        var json = (function() {
          var json = null;
          $.ajax({
            'async': false,
            'global': false,
            'url': "https://cdn.qrl.co.in/mainnet/QRL_Node_Stats.json",
            'dataType': "json",
            'success': function(data) {
            json = data;
            }
          });
          return json;
        })();

        document.getElementById("blockHeight").innerHTML = JSON.parse(JSON.stringify(json[0].info.blockHeight));
        document.getElementById("blockLastHash").innerHTML = JSON.parse(JSON.stringify(json[0].info.blockLastHash));
        document.getElementById("networkId").innerHTML = JSON.parse(JSON.stringify(json[0].info.networkId));
        document.getElementById("numConnections").innerHTML = JSON.stringify(json[0].info.numConnections);
        document.getElementById("numKnownPeers").innerHTML = JSON.stringify(json[0].info.numKnownPeers);
        document.getElementById("state").innerHTML = JSON.parse(JSON.stringify(json[0].info.state));
        document.getElementById("uptime").innerHTML = JSON.parse(JSON.stringify(json[0].info.uptime));
        document.getElementById("version").innerHTML = JSON.parse(JSON.stringify(json[0].info.version));
        document.getElementById("Unix_Timestamp").innerHTML = JSON.parse(JSON.stringify(json[1].Unix_Timestamp));
        document.getElementById("Uncompressed_Chain_Size").innerHTML = JSON.parse(JSON.stringify(json[2].Uncompressed_Chain_Size));
        document.getElementById("Notarization").innerHTML = '<a href="' + JSON.parse(JSON.stringify(json[4].validation)) + '" target="_blank"><u>' + JSON.parse(JSON.stringify(json[4].tx_id)) +'</u></a>';        
        document.getElementById("Address").innerHTML = JSON.parse(JSON.stringify(json[4].address));
        // document.getElementById("Tar_FileSize").innerHTML = JSON.parse(JSON.stringify(json[3].Tar_FileSize));
        console.log(JSON.stringify(json));
      </script>
</section>
