---
---

#about {

    overflow: auto; 
    background: rgb(11,24,30);
    background: -moz-linear-gradient(0deg, rgba(0,0,0, 1) 20%, rgba(11,24,30, 0.85) 100%);
    background: -webkit-linear-gradient(0deg, rgba(0,0,0, 1) 20%, rgba(11,24,30, 0.85) 100%);
    background: linear-gradient(0deg, rgba(0,0,0, 1) 20%, rgba(11,24,30, 0.85) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#0b181e", GradientType=4);
    padding: 5rem 1.5rem;

}

#faucet {
    overflow: auto; 
    background: rgb(11,24,30);
    background: -mozlinear-gradient(0deg, rgba(11,24,30, 0.85) 50%, rgba(0,0,0, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(11,24,30, 0.85) 50%, rgba(0,0,0, 1) 100%);
    background: linear-gradient(0deg, rgba(11,24,30, 0.85) 50%, rgba(0,0,0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0b181e", endColorstr="#000000", GradientType=4);
    padding: 5rem 1.5rem;

}

#contact {
    overflow: auto; 
    background: rgb(11,24,30);
    background: -mozlinear-gradient(0deg, rgba(60,70,75, 0.85) 0%, rgba(11,24,30, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(60,70,75, 0.85) 0%, rgba(11,24,30, 1) 100%);
    background: linear-gradient(0deg, rgba(60,70,75, 0.85) 0%, rgba(11,24,30, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#0b181e", GradientType=4);

}

#testnet-chain {
    overflow: auto; 
    background: rgb(11,24,30);
    background: -mozlinear-gradient(0deg, rgba(11,24,30, 0.85) 50%, rgba(0,0,0, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(11,24,30, 0.85) 50%, rgba(0,0,0, 1) 100%);
    background: linear-gradient(0deg, rgba(11,24,30, 0.85) 50%, rgba(0,0,0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0b181e", endColorstr="#000000", GradientType=4);
    padding: 5rem 1.5rem;

}
#mainnet-chain {
    overflow: auto; 
    background: rgb(11,24,30);
    background: -mozlinear-gradient(0deg, rgba(11,24,30, 0.85) 50%, rgba(0,0,0, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(11,24,30, 0.85) 50%, rgba(0,0,0, 1) 100%);
    background: linear-gradient(0deg, rgba(11,24,30, 0.85) 50%, rgba(0,0,0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0b181e", endColorstr="#000000", GradientType=4);
    padding: 5rem 1.5rem;

}
#navbar {
}

#chain {
    overflow: auto; 
    background: rgb(11,24,30);
    background: -mozlinear-gradient(0deg, rgba(11,24,30, 0.85) 50%, rgba(0,0,0, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(11,24,30, 0.85) 50%, rgba(0,0,0, 1) 100%);
    background: linear-gradient(0deg, rgba(11,24,30, 0.85) 50%, rgba(0,0,0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0b181e", endColorstr="#000000", GradientType=4);
    padding: 5rem 1.5rem;

}